#cabecalho{  
    width: 95%; 
    margin: 0 20px;
}
  #rodape{
      width: 100%; 
      #position: relative; 
      height: 58px; 
      #bottom: auto; 
      #top: 1050px;
      background-color: darkslategrey;
      padding: 10px 5px;
      color: white;
      margin: auto;
      text-align: center;
  }
.titulo{
    float: left;
    font-size: 28px;
    clear: left;
}
.cor_1{
    color: red;
    font-size: 30px;
}
.menu{
    float: right;
    #font-size: 250px;
    #position: relative;
    #margin-top: -4px;
}
.bnt{
    font-size: 16px;
}
a:link{
    text-decoration: none;
}
.conteudo{
    #margin-left: 5px;
    font-family: sans-serif;
    height: 980px;
    #width: 98%;
    //border: solid 1px red;
    margin: 20px auto;
    #overflow: auto;
}
.ref{
    margin-left: 510px;
}
.l1{
    position: relative;
    top: 10px;
}
.SITE_ROOT {
  min-height: 100%;
  position: relative;
  margin: 0 auto; 
  width:1080px;
  padding-bottom:40px;
  //border: 1px solid red;
}
.s6{
    left: 20px; 
    width: 940px; 
    position: absolute; 
    top: 164px; 
    height: 5px;
}
body{
    margin: 0;
    padding: 0;
    background-image: url('../imagens/logoibad.png');   
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 25%;
    background-size: 300px;
    #backface-visibility: hidden;
    background-color: #f9fcc0;
}
.rel{
    float: left;
    width: 470px;
    #margin: -20px 5px 0;
    #border: 1px solid green;
}
.rel th, .resumo th{
    background-color: green;
    color: white;
}
.rel td, .resumo td{
    background-color: white;
    opacity: 0.7;
    font-weight: bolder;
    font-size: 13px;
}
.resumo{
    float: right;
    width: 450px;
    margin: auto;
    #margin-left: 0;
    #border: 1px solid red;
}
.separa{
    background-color: blue;
}
.totais{
    background-color: darkgray;
}
    @media print {
        body * {
          visibility: hidden;
        }
        #printable, #printable * {
          visibility: visible;
        }
        #printable {
          background: url('../imagens/timbrado.png');
          position: absolute;
          #margin: auto;
          left: 30%;
          top: 30%;
        }
          .fundo{
             position: absolute;     
             z-index: -2;
          }
    }
.texto{
    margin: 0 40px;
}
.lista{
    width: 880px;
    margin-left: -100px;
    #height: 835px;
    //overflow: auto;
    #background-color: wheat;
    opacity: 1;
    //border: 1px solid red;
}
.lista table{
    width: 100%;
}
.lista table td{
    padding: 2px;
}
.lista table .dados {
    background-color: cornsilk; 
    text-transform: uppercase;
    font-family: cursive;
    font-size: 14px;
}
.dados_{
    background-color: cornsilk; 
    font-family: cursive; 
    font-size: 14px;   
}
.nome{
    text-align: right;
    background-color: #c0bf9b;
    font-size: 17px;
}
.nome2{
    text-align: right;
    background-color: #c0bf9b;
    //background-color: rgba(106, 99, 99, 0.4);
    font-size: 17px;
}
.nome3{
    text-align: right;
    background-color: #c0bf9b;
    //background-color: rgba(106, 99, 99, 0.4);
    font-size: 17px;
}
.col1{
    width: 13%;
}
.col2{
    width: 12%;
}
.col3{
    width: 22%;
}
.col4{
    width: 28%;
}
.col5{
    width: 18%;
}
.disabled {
   pointer-events: none;
   cursor: default;
}
.lista table .divisao{
    background-color: wheat;
}
.cadastro{
    margin: 50px auto;
    width: 680px;
    #border: 1px solid red;
}
.info{
    position: absolute;
    font-size: 12px;
    font-style: italic;
    color: red;
}
.paginacao{
    float: right;
    #border: 1px solid red;
    #width: 200px;
    text-align: center;
}
.cadMembros{
    width: 800px;
    margin-left: -90px;
}
.foto{
    float: right;
    clear: both;
    //border: 1px solid red;
}
.thumb-image, .fotoMembros > img{
    max-height: 150px;
    max-width: 200px;
    padding: 4px;
    background: white;
    //border: 1px solid red;
}
/*
#teste { position:relative; }
#upload { position:absolute; top:0;left:0; border:1px solid #ff0000; opacity:0.01; z-index:1; }
#texto { border:0px; background:#dedede; border-radius:4px; padding:5px; }
#botao { border:1px solid #dedede; background:#989898; color:#ffffff; border-radius:4px; padding:5px }
*/
//////
input[type=file] {
    float: left;
    display: block;
}
.hide {
    display: none;
    float: left;
}